[submodule "deps/realm-object-store"]
	path = deps/realm-object-store
	url = https://github.com/realm/realm-object-store.git
	branch = master
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	shallow = true
[submodule "deps/realm-core"]
	path = deps/realm-core
	url = https://github.com/realm/realm-core.git
	shallow = true
